<form action="/edit" method="POST">
  <input type="hidden" name="csrf" value="{{ token }}" />
  <input type="email" name="email" placeholder="Email" />

  <input type="submit" value="Enviar" />
</form>