<form action="/login" method="POST">
  <input name="email" type="email" placeholder="Email" />
  <input name="password" type="password" placeholder="Password" />

  <input type="submit" value="Enviar" />
</form>