<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSRF</title>

    <style>
      .message {
        padding: 10px;
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="message">{{ message }}</div>

    {{{ body }}}
  </body>
</html>